<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sklep ogrodniczy</title>
    <link rel="stylesheet" href="{% static '/css/master.css' %}">
  </head>
  <body>
    <section class ="banner" id="banner">
      <div class="content">
        <h1>Kontakt</h1>
        <a href="#post1">Start</a>
        <a href="{% url 'gardenApp:index'%}">Powrót</a>
      </div>
    </section>
    <section class="contact" id="post1">
      <div class="post">
        <div class="box">
          <h1>Kontakt</h1>
          <div class="post-title">
            <p>Telefon: xxx-xxx-xxx</p>
            <p>Email: xxx@xxx.com</p>
            <p>Adres:</p>
            <p>-Ul.xxx</p>
            <p>-Miejscowość: XXX</p>
          </div><br>
          <a href="#banner" class="btn prev">Start</a>
        </div>
      </div>
    </section>
  </body>
</html>
